<div class="container">
  <div fxLayout="row">
    <div fxFlex="15" fxLayoutAlign="center">
      <img src="{{ asset?.iconUrl || defaultUrl }}" width="40" />
    </div>
    <div fxFlex="40" fxLayout="column" style="text-align: start">
      <span>{{ asset?.name }}</span>
      <span>{{ asset?.asset_id }}</span>
    </div>
    <div fxFlex="10"></div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center end">
      <span color>$ {{ asset?.price_usd?.toFixed(2) }}</span>
    </div>
    <button mat-icon-button (click)="toggleSelected()">
      <mat-icon *ngIf="asset?.favourite" size="10px" color="primary">
        favorite
      </mat-icon>

      <mat-icon *ngIf="!asset?.favourite" size="10px" color="primary">
        favorite_border
      </mat-icon>
    </button>
  </div>
</div>
